.way {
    padding: 0 !important;
}

.way-items {
    --bs-gutter-x: 0;
}

.way-items img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.way-items-in {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.way-items-body {
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 10px 65px rgb(0 0 0 / 6%);
    background-color: white;
    transform: translateY(-50%);
}

.way-items-body a{
    text-decoration: none;
}

.st-title {
    color: #263366;
    font-size: 25px;
}

.nd-title {
    margin-bottom: 30px;
}

@media only screen and (min-width: 995px) {
    .way {
        width: 1110px;
    }
}
